@mixin flex($direction, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin textStyle($fontSize, $lineHeiht, $fontWeigth, $textColor) {
  font-weight: $fontWeigth;
  line-height: $lineHeiht;
  color: $textColor;
  font-size: $fontSize;
}
