.footer {
  text-align: center;
  background-color: #000000;
  padding-top: 65px;
  padding-bottom: 70px;
  margin-top: auto;

  &__title {
    @include textStyle(16px, 22px, 700, #fefefe);
    text-transform: uppercase;
    margin-bottom: 22px;
    @media (max-width: 373px) {
      font-size: $mobile-fz;
    }
  }

  &__intro {
    @include textStyle(14px, 28px, 400, #b9b9b9);
    margin-bottom: 35px;
    @media (max-width: 373px) {
      font-size: 12px;
    }
  }

  &__icon {
    @include flex(row, center, center, wrap);
    gap: 0 5px;
    margin-bottom: 35px;
  }

  &__contact {
    @include textStyle(14px, 26px, 400, #b9b9b9);
  }
}
.footer-container {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 633px) {
    max-width: 300px;
  }
}
.footer-list {
  @include flex(row, center, center, wrap);
  gap: 0 5px;
}
.footer-contact {
  &__link {
    color: #b9b9b9;
    &:hover {
      color: darken($color: #b9b9b9, $amount: 50);
    }
    &:active {
      color: darken($color: #b9b9b9, $amount: 50);
    }
  }
}
