body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: 1170px) {
    max-width: 940px;
    padding: 0 80px;
  }
  @media (max-width: 940px) {
    max-width: 786px;
    padding: 0 25px;
  }
}
