.header {
  &__image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 65px;
    @media (max-width: 1199px) {
      margin-bottom: 55px;
    }
    @media (max-width: 767px) {
      margin-bottom: 55px;
    }
    @media (max-width: 443px) {
      margin-bottom: 40px;
    }
  }
  &__burger-menu {
    margin-left: auto;
    background-color: #000000;
    background-image: url("../img/menu-button.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    min-width: 44px;
    min-height: 37px;
    display: none;
    margin-bottom: 20px;
  }
}
.burger-menu-active {
  background-image: url("../img/menu-button-active.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}

.header-nav {
  @include flex(row, space-around, center, wrap);
  padding: 47px 0;
  &__item {
    text-transform: uppercase;
    line-height: 22px;
    font-size: 11px;
    letter-spacing: 1.1px;
  }
}
.header-nav-link {
  color: $title-color;
  display: block;
}
.nav-active {
  color: $nav-active;
}
@media (max-width: 767px) {
  .header-nav {
    display: none;
    padding: 0;
    &__item {
      min-width: 182px;
      max-height: 32px;
      font-size: 11px;
      line-height: 22px;
      &:hover {
        background: #e5e5e5;
      }
      &:active {
        background: #e5e5e5;
      }
    }
    &-link {
      padding: 5px 0 5px 5px;
    }
  }
  .header-nav-mobile {
    @include flex(column, flex-start, flex-start, wrap);
    flex: 0 0 auto;
    position: absolute;
    right: 25px;
    top: 62px;
    background: #f5f5f5;
  }
  .header__burger-menu {
    display: block;
    margin-top: 25px;
  }
}
