.instagram-section {
  background-color: #f7f7f7;
  padding-top: 45px;
  padding-bottom: 45px;
}
.instagram {
  &__intro {
    @include flex(row, space-between, center, wrap);
    padding-bottom: 25px;
  }
  &__text {
    text-transform: uppercase;
    @include textStyle(14px, 22px, 700, #4e4e4e);
  }
  &__text--latest-shot {
    font-size: 16px;
    @media (max-width: 633px) {
      font-size: $mobile-fz;
    }
  }
  &__text--link-instagram {
    font-size: 13px;
    @media (max-width: 633px) {
      display: none;
      font-size: $mobile-fz;
    }
  }
}
.instagram-post-list {
  @include flex(row, center, center, nowrap);
  overflow: hidden;
  gap: 0 10px;
}
.instagram {
  &__img-wrapper {
    @media (max-width: 1199px) {
      &:nth-child(4) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      &:nth-child(3) {
        display: none;
      }
    }
    @media (max-width: 633px) {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (min-width: 1200px) {
  .instagram__img {
    width: 285px;
    height: 285px;
  }
}
@media (max-width: 986px) {
  .instagram__img {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 633px) {
  .instagram__img {
    width: 300px;
    height: 300px;
  }
  .instagram__img-wrapper:nth-child(1) {
    margin-right: auto;
  }
}
