.post {
  &-section__title {
    @include textStyle(16px, 22px, 700, $title-color);
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: $mobile-fz;
    }
  }

  &__list {
    @include flex(row, space-between, center, wrap);
    flex-wrap: wrap;
    gap: 30px 25px;
    padding-bottom: 70px;
    @media (max-width: 940px) {
      padding-bottom: 30px;
    }
  }

  &__list-item {
    display: flex;
    max-width: 555px;
    &:first-child {
      margin-top: 25px;
    }
  }
  &__content {
    text-align: left;
    @media (max-width: 461px) {
      margin-left: 0;
    }
  }
  &__description {
    
    @include flex(row, center, center, nowrap);
    gap: 0 20px;
    @media (max-width: 461px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &__content-title {
    @include textStyle(16px, 30px, 700, #4e4e4e);
    @media (max-width: 461px) {
      font-size: $mobile-fz;
    }
  }

  &__report {
    @include textStyle(12px, 20px, 400, #7c7c7c);
    margin-bottom: 10px;
    @media (max-width: 461px) {
      font-size: 11px;
    }
  }

  &__main-text {
    @include textStyle(14px, 26px, 400, #5c5c5c);
    @media (max-width: 461px) {
      display: none;
    }
  }
}
.line-after::after {
  content: "/";
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}
